root{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.section{
width:100%;
min-height:100vh;
background-color: papayawhip;
}
.container{
    width:80%;
    display:block;
    margin:auto;
    padding-top:100px;

}
.content-section{
    float:left;
    width:55%;

}
.image-section{
    float:right;
    width:40%;
}
.image-section img{
    width:100%;
    height:60vh;
}
.content-section .title{
    text-transform: uppercase;
    font-size:28px;
}
.content-section .content h3{
    margin-top:20px;
    color:grey;
}
.content-section .content{
    margin-top:10px;
    font-family: sans-serif;
    font-size:18px;
    line-height:1.5;
}
@media screen and (max-width:768px){
    .container{
        width:80%;
        display:block;
        margin:auto;
        padding-top:50px;}
    
    .content-section{
        float:none;
        width:100%;
        display:block;
        margin:auto;

    }
    .image-section{
        float:none;
        width:100%;
    }
    .image-section img{
        display:block;
        margin:auto;
    }  
    .content-section .title{
        text-align:center;
        font-size:19px;
    }
    


}
